* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#light-bulb {
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 50%;
    line-height: 200px;
    text-align: center;
}

button {
    height: 50px;
    width: 100px;
    margin: 10px;
}

.light {
    background-color: yellow;
}

.dark {
    background-color: gray;
}

.hidden {
    display: none;
}

.disabled {
    color: gray;
    pointer-events: none;
}